.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.letter-empty,
.letter-available {
  display: inline-block;
  border: 1px solid gray;
  margin: 4px;
  padding: 10px;
  font-size: 130%;
  text-align: center;
  width: 40px;
  background-color: aquamarine;
}

.letter-empty {
  border: 1px solid red;
  background-color: beige;
}

.word {
  height: 40px;
}
